<head>

</head>

<div id="header">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <h1>Welcome to Chips R Us</h1>
        </div>
    </div>
</div>


<div id="mainBg">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <!-- <h1 id="slogo">Snack a Bag</h1> -->
          <a routerLink="products"><button type="button" class="btn btn-warning btn-lg btn-block" id="slogo">Snack a Bag</button></a>
          <h6>Team 3<img src="favicon.ico"></h6>
        </div>
    </div>
</div>



